html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    font-family: "Helvetica Neue",sans-serif;
    font-weight: lighter;
}

header {
    width: 100%;
    height: 100vh;
    background: url(danktrees.jpg) no-repeat 50% 50%;
    background-size: cover;
}
a
{
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Oswald', sans-serif;
}
.about
{
    width: 100%;
    height: 100vh;
    background: url(aboutus.jpg);
    min-height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.productspage {
    width: 100%;
    height: 100vh;
    background: url(productspic.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.cactus 
{
    width: 100%;
    height: 100vh;
    background: url(contactus.jpg) no-repeat 50% 50%;
    background-size: cover;
    z-index: -500; 
}
.container
{
    max-width: 300px;
   max-height: 150px;
   position: absolute;
   left: 41%;
   top: 75%; 
   margin-left: -150px;
   margin-top: -150px;
   font-family: 'Sunflower', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}
section {
    font-family: Tahoma, Arial, sans-serif;
    line-height: 150%;
    margin:auto;
    width: 700px;
    color: #333;
  }
.contactcenter
{
    font-family: 'Sunflower', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    color: rgba(4, 255, 45, 0.781);
    margin-left:-25px;
    font-size: 50px;
    text-shadow: 0.5px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}
.hero
{
    position: absolute;
    width:1200px;
    margin-left: 65px;
    margin-top:0px;
}

.indexmessage
{
    color:rgb(39, 122, 0);
    text-transform: uppercase;
    font-size:120px;
    text-align: center;
    margin-top: 275px;
    text-shadow: 0.5px 0 0 rgba(255, 255, 255, 0.877), 0 -1px 0 #fff, 0 1px 0 #fff, -1px 0 0 #fff;

}
.aboutmessage
{
    color:rgb(255, 255, 255);
    text-transform: uppercase;
    font-size:120px;
    text-align: center;
    margin-top: 275px;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}
.productsmessage
{
    color:rgb(46, 228, 0);
    text-transform: uppercase;
    font-size:120px;
    text-align: center;
    margin-top: 275px;
    text-shadow: 1px 0 0 #fff, 0 -1px 0 #fff, 0 1px 0 #fff, -1px 0 0 #fff;
}
.content {
    width: 94%;
    margin: 4em auto;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    font-family: 'Sunflower', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}

.logo {
    line-height: 60px;
    position: absolute;
    float: left;
    margin: 16px 46px;
    color:rgb(46, 228, 0);
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 5px;
    font-family: 'Rubik', sans-serif;
    font-family: 'Lobster', cursive;
}

nav {
    background-color: black;
    position: fixed;
    width: 100%;
    line-height: 60px;
    z-index: 500;
}

nav ul {
    line-height: 60px;
    list-style: none;
    background: rgba(8, 180, 37, 0.781);
    overflow: hidden;
    color: #fff;
    padding: 0;
    text-align: right;
    margin: 0;
    padding-right: 40px;
}

nav.black ul {
    background: #000;
}

nav ul li {
    display: inline-block;
    padding: 16px 40px;;
}

nav ul li a {
    text-decoration: none;
    color:rgb(46, 228, 0);
    font-size: 16px;
}

.menu-icon {
    line-height: 60px;
    width: 100%;
    background: #000;
    text-align: right;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    color: #fff;
    display: none;
}

@media(max-width: 786px) {

    .logo {
          position: fixed;
          top: 0;
          margin-top: 16px;
    }

    nav ul {
          max-height: 0px;
          background: #000;
    }

    nav.black ul {
          background: #000;
    }

    .showing {
          max-height: 34em;
    }

    nav ul li {
          box-sizing: border-box;
          width: 100%;
          padding: 24px;
          text-align: center;
    }

    .menu-icon {
          display: block;
    }

}
